/* Tablet Responsive */
@media screen and (min-width: 577px) and (max-width:997px) {
    .banner-content .secondary-title, 
    .banner-content .primary-title
    {
        font-size: 3rem;
        margin: 10px 0;
        padding: 0;
        text-align: center;
    }
    .list-items p,
    .icon
    {
        font-size: 1rem;
    }
    .btn-primary{
        font-size: 1rem;
        padding: 10px 20px;
        margin: 10px;
    }   
    .image-area .small-img img{
        height: 200px;
    } 
}

/* Mobile Responsive */
@media screen and (max-width: 576px){
    nav,
    .menus ul,
    .gammer-container,
    .image-container,
    .image-container
    {
        flex-direction: column;
    }
    .banner-container {
        flex-direction: column-reverse;
    }
    nav{
        gap: 30px;
        height: 250px;
        margin: 30px 0;
    }
    .banner-content,
    .banner-image,
    .gammer-content,
    .content,
    .image-container,
    .content,
    .image-area,
    .image-area .main-image
    {
        width: 90%;
    }
    .banner-content .secondary-title, 
    .banner-content .primary-title,
    .image-container .content,
    .content>h2
    {
        font-size: 2rem;
        margin: 20px 0;
        padding: 0;
        text-align: center;
    }
    .list-items p,
    .icon
    {
        font-size: .9rem;
    }
    .btn-primary
    {
        font-size: 1rem;
        padding: 10px 20px;
        margin: 10px 0px;
    }
    .gammer-content{
        text-align: center;
    }
    .gammer-content .primary-description{
        font-size: 18px;
    }
    .gammer-content .qutue{
        font-size: 30px;
    }
    .image-container{
        gap: 10px;
    }
    .content{
        max-width: 100%;
    }
    .content .primary-description{
        padding: 0px;
    }
    .image-area .small-img img{
        height: 200px;
    }
}