/* Tablet Responsive */
@media screen and (min-width: 577px) and (max-width:997px) {
    section{
        padding: 30px 20px;
    }
    
    .banner-content .secondary-title, 
    .banner-content .primary-title
    {
        font-size: 3rem;
        margin: 10px 0;
        padding: 0;
        text-align: center;
    }
    .list-items p,
    .icon
    {
        font-size: 1rem;
    }
    .btn-primary{
        font-size: 1rem;
        padding: 10px 20px;
        margin: 10px;
    }  
    
    /*  Gammer SEcion */
    .gammer-image{
        width: 50%;
    }

    .image-area .small-img img{
        height: 200px;
    } 
    .small-img img{
        height: 150px;
    }
}

/* Mobile Responsive */
@media screen and (max-width: 576px){
    section{
        /* padding: 30px 20px; */
    }
    nav,
    .menus ul,
    .gammer-container,
    .image-container,
    .image-container,
    .card-container
    {
        flex-direction: column;
    }
    .banner-container {
        flex-direction: column-reverse;
    }
    header{            
        top: 0;
        position:static;
    }
    nav{
        gap: 15px;
        height: 250px;
    }
    .banner-content,
    .banner-image,
    .gammer-content,
    .content,
    .image-container,
    .content,
    .image-area,
    .image-area .main-image,
    .card-image
    {
        width: 90%;
    }
    .banner-content .secondary-title,
    .image-container .content,
    .content>h2
    {
        font-size: 2rem;
        margin: 20px 0;
        padding: 0;
        text-align: center;
    } 
    .banner-content .primary-title{
        font-size: 3rem;
        text-align: center;
    }
    .list-items p,
    .icon,
    .qutue
    {
        font-size: .9rem;
    }
    .btn-primary
    {
        font-size: 1rem;
        padding: 10px 20px;
        margin: 10px 0px;
    }

    /* Feature Section */
    .feature-container{
        padding: 30px 20px;
    }
    .feature-container img{
        width: 90%;
    }
    .feature-container h2,
    .feature-container .primary-title
    {
        font-size: 1.5rem;
        text-align: center;
    }
    .feature-container p{
        font-size: 18px;
        padding: 0px 30px;
        text-align: center;
    }

    /* Gammer SEctioon */

    .content{
        width: 100%;
    }
    .image-area .main-image{
        max-width: 70%;
    }
    .gammer-content{
        text-align: center;
    }
    .gammer-content .primary-description{
        font-size: 18px;
    }
    .gammer-content,
    .qutue{
        font-size: 30px;
    }
    .image-container{
        gap: 10px;
    }
    .image-container .content{
        max-width: 100%;
    }
    .content .primary-description{
        padding: 0px;
    }
    .image-area .small-img img{
        height: 200px;
    }

    /* Category Section */

    .category-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .category{
        padding: 5px;
    }
    .category img{
        width: 30px;
        height: 30px;
    }
    .category-title{
        font-size: 14px;
        font-weight: 500;
    }
    /* .category-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } */

    .footer-menus ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-content: center;
        list-style-type: none;
        margin: 20px;
        row-gap: 30px;
    }
    .social-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 30px;
    }
    .social-icon .fa-brands {
        font-size: 30px;
        margin: 20px 0px;
    }
    .footer-buttom-menus ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        align-content: center;
        list-style-type: none;
        margin: 20px 20px 40px;
    }
    .footer-buttom-menus ul li {
        padding: 10px 0px;
    }
    
}